body{
    background-color: rgb(50, 106, 219);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.login{
    text-align: left;
    border: 2px solid black;
    padding: 80px;
    margin: 80px;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.button{
    background-color: aquamarine;
    width: 100px;
    height: 40px;
    font-size: 17px;
    border-radius: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

